h1{
    margin: 50px;
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

main{
    position: relative;
    width: 1200px;
    margin: auto;
}

.botao{
    position: absolute;
    right: 100px;
    top: 50px;
    border-radius: 20px;
    padding: 10px;
    border-color: #FF69B4;
    color: #FF69B4;
}



.titulo-topo{
    font-size: 30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.conteudo-topo p{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.paragrafo-topo{
    width: 550px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao-topo{
    border-radius: 50px;
    background-color: #FF69B4;
    color: white;
    padding: 15px;
    width: 300px;
    margin: 40px 0 80px 0;
    font-weight: bold;
    border: none;
    font-size: 15px;
    transition: 1s all;
}

.botao-topo:hover{
    transform: scale(1.2);
}

.imagem-topo{
    display: block;
    margin: 0px auto;    
}

.numeros-comunidade{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 150px 0;
    font-family: 'Open Sans', sans-serif;
}

.numeros-comunidade h2{
    font-size: 80px;
    font-weight: bold;
    padding: 10px;
}

.numeros-comunidade p{
    opacity: 0.5;
    font-size: 18px;
}



.crescer-juntos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center ;
    margin: 150px 0;
}

.crescer-juntos-texto{
    width: 35%;
    font-family: 'Open Sans', sans-serif;
  
}

.crescer-juntos h2{
    margin: 0 0 30px 0;
}

.crescer-juntos-imagem {
 width: 500px;

}

.conversas{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
margin: 150px 0;
}

.imagem-conversas{
    width: 500px;
}

.conversas-texto{
    width: 35%;
    font-family: 'Open Sans', sans-serif;
}

.conversas-texto h2{
    margin: 0 0 30px 0;
}

.usuarios{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
margin: 150px 0;
}

.usuarios-texto{
    width: 35%;
    font-family: 'Open Sans', sans-serif;
}

.usuarios-imagem{
    width: 500px;
}

.usuarios-texto h2{
    margin: 0 0 30px 0;
}

.final-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.final-main h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

footer{
    background:#04242c;
    padding: 50px 0;
}

.conteudo-footer{
    position: relative;
    width: 1200px;
    margin: auto;
    display: flex;  
    flex-direction: row;
    justify-content: space-around;
    
}

.footer-caixa{
    width: 350px;
    font-family: 'Open Sans', sans-serif;
}

.footer-caixa h2{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.conteudo-footer p{
    color: white;
    margin: 15px 0;
    
    display: inline-block;
}



.footer-caixa img{
    margin: 0 15px 0 0;
}

.text-footer{
    width: 200px;
    border-radius:10px;
    padding: 8px;
}

.submit-footer{
    border-radius: 10px;
    background-color: #FF69B4;
    color: white;
    padding: 10px;
    width: 100px;
    margin: 40px 0 80px 0;
    font-weight: bold;
    border: none;
    font-size: 15px;
    margin: 0 0 0 15px;
    transition: 1s all;
}

.submit-footer:hover{
    transform: scale(1.2) ;
}

.redes{
    padding: 50px 0 0 0;
}


    