h1{
    margin: 50px;

}

main{
    position: relative;
    width: 1200px;
    margin: auto;
}

.botao{
    position: absolute;
    right: 100px;
    top: 50px;
    border-radius: 20px;
    padding: 5px;
    border-color: pink;
    color: pink;
}

.titulo-topo{
    font-size: 30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.conteudo-topo p{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.paragrafo-topo{
    width: 550px;
    margin: auto;
}